#grid {
    width: 450px; /* =TILES_PER_ROW * TILE_SIZE_PX */
    height: 450px;
    margin: auto;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

#grid div {
    width: 30px; /* =TILE_SIZE_PX */
    height: 30px;
}

.invader {
    background-image: url(alien.png);
    background-size: contain;
}

.shooter {
    background-image: url(spaceship.png);
    background-size: contain;
}