#grid {
    width: 450px;
    height: 450px;
    margin: auto;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

#grid div {
    width: 30px;
    height: 30px;
}

.invader {
    background-image: url(alien.png);
    background-size: contain;
}